
	
	<table>

		<tr> Name: <%= @com.company %> </tr> </br>
		<tr> HR: <%= @com.HR_name %> </tr> </br>
		<tr> HR Email: <%= @com.HR_email %> </tr></br>
		<tr> HR Contact: <%= @com.HR_contact %> </tr></br>
		<tr> CA: <%= @com.CA_name %> </tr> </br>
		<tr> CA Email: <%= @com.CA_email %> </tr></br>
		<tr> CA Contact: <%= @com.CA_contact %> </tr></br>

	</table>
</br>
	<%= link_to("Search Another Company Details", 'query')%>