<%= form_for(:com, :url=>{:action => 'update' , :id => @com.id}) do |f| %>
<table>

	<h2> Edit Company </h2>

	
	Name: <%= f.text_field(:company) %> </br>

	HR Name: <%= f.text_field(:HR_name)%></br>
	HR Contact: <%= f.text_field(:HR_contact)%></br>
	HR email: <%= f.text_field(:HR_email) %> </br>

	CA Name: <%= f.text_field(:CA_name)%></br>
	CA Contact: <%= f.text_field(:CA_contact)%></br>
	CA email: <%= f.text_field(:CA_email) %> </br>	
	
	
</table>

<%=submit_tag("Update Company")%>
<%end%>